In [1]:
import pandas as pd

data1 = {'fecha':['2016-10-12 12:00:00', '2016-11-10', '2016-11-12'], 'a': [1,2,33], 'b': [10,20,30]}
data2 = {'fecha':['2016-10-12 12:00:00', '2016-10-10', '2016-11-12'], 'c': [4,5,6], 'd': [40,50,60]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1['fecha'] = pd.to_datetime(df1['fecha'])
df2['fecha'] = pd.to_datetime(df2['fecha'])

print(df1)
print("\n")
print(df2)
print((df2['fecha'][0]))

    a   b               fecha
0   1  10 2016-10-12 12:00:00
1   2  20 2016-11-10 00:00:00
2  33  30 2016-11-12 00:00:00


   c   d               fecha
0  4  40 2016-10-12 12:00:00
1  5  50 2016-10-10 00:00:00
2  6  60 2016-11-12 00:00:00
2016-10-12 12:00:00

In [2]:
df1 = df1.set_index('fecha')

In [3]:
df2 = df2.set_index('fecha')

In [4]:
df1

                      a   b
fecha
2016-10-12 12:00:00   1  10
2016-11-10 00:00:00   2  20
2016-11-12 00:00:00  33  30

In [5]:
df2

                     c   d
fecha
2016-10-12 12:00:00  4  40
2016-10-10 00:00:00  5  50
2016-11-12 00:00:00  6  60

In [6]:
df = df1.join(df2)

In [7]:
df

                      a   b    c     d
fecha
2016-10-12 12:00:00   1  10  4.0  40.0
2016-11-10 00:00:00   2  20  NaN   NaN
2016-11-12 00:00:00  33  30  6.0  60.0

In [8]:
df1.index

DatetimeIndex(['2016-10-12 12:00:00', '2016-11-10 00:00:00',
               '2016-11-12 00:00:00'],
              dtype='datetime64[ns]', name='fecha', freq=None)

In [9]:
df1.index[0]

Timestamp('2016-10-12 12:00:00')

In [10]:
type(df1.index[0])

pandas.tslib.Timestamp

In [14]:
# Ejemplo Funci√≥n aplicada a un DataFrame

def apply_columnas(row):
    a = row['a']
    b = row['b']

    if a < b:
        return a + b
    else:
        return b 
    
df1['funcion'] = df1.apply(apply_columnas, axis=1)

In [15]:
df1

                      a   b  funcion
fecha
2016-10-12 12:00:00   1  10       11
2016-11-10 00:00:00   2  20       22
2016-11-12 00:00:00  33  30       30